nav{font-family: 'Sansita Swashed', cursive;
    color: blue;
}
h3{
    font-family:  Georgia;
}

body{
    color: grey;
    background-image: url("/Mase.jpg");
    background-color: aquamarine;
}
#connect{
    margin-top: 30px;
}
#phone{
    margin-left: 20px;
}
footer{
    text-align: center;
    margin-top: 100px;
   
}
@media screen and (min-width: 451px)  and (max-width: 1500px) {
    .wrapper{
        width: 70%;
     }
}
